## .gitlab-ci.yml
## Author: Albert Yu
##
## This file configures the CI pipeline of GitLab.
## gradle-build builds this Project
## gradle-test runs the unit tests

image: gradle:alpine
stages:
  - build
  - test
gradle-build:
  tags:
    - comp2100
  stage: build
  script: gradle assemble
gradle-test:
  tags:
    - comp2100
  stage: test
  script: gradle test
  only:
    - master
    - main
    - test
    #- /^issue-.*$/
    #- external_pull_requests

rspec:
  stage: test
  script:
    - bundle install
    - rspec --format RspecJunitFormatter --out rspec.xml
  artifacts:
    when: always
    reports:
      junit: rspec.xml
    #reports:
    #  junit: build/test-results/test/**/TEST-*.xml

#artifacts:
#  when: always
#  paths:
#    - rspec.xml
#  reports:
#    junit: rspec.xml

#  reports:
#    junit:
#      - build/test-results/test/**/TEST-*.xml