## .gitlab-ci.yml
## Author: Albert Yu
##

##job:
##  script:
##    - C:\GitLab-Runner\test.bat

variables:
  JUNIT_DIR:
    value: "C:/Users/yenga/.m2/repository/junit/junit/4.13.1/junit-4.13.1.jar"
    description: "This key-value pair indicates to GitLab the directory where you place your JUnit JAR file"

stages:
  - build
  - test

build-code-job:
  stage: build
  script:
    - echo "Auto-building Project..."
    - javac -cp ${JUNIT_DIR} src/base/*.*

test-code-job1:
  stage: test
  script:
    - echo "Auto-running test-job1..."
    - java -cp ${JUNIT_DIR} out/production/comp2120-2022-group-assignment-2/tests/EnemyUnitTests