## .gitlab-ci.yml
## Author: Albert Yu
## Purpose: automated unit tests using GitLab
##

## The following code was used for testing purposes:
##job:
##  script:
##    - C:\GitLab-Runner\test.bat

variables:
  JUNIT_DIR:
    value: "C:/Users/yenga/.m2/repository/junit/junit/4.13.1/junit-4.13.1.jar"
    description: "This key-value pair indicates to GitLab the directory where you place your JUnit JAR file"
  SRC_DIR:
    value: "C:/Users/yenga/IdeaProjects/comp2120-2022-group-assignment-2/out/production/comp2120-2022-group-assignment-2/base"
    description: "This key-value pair indicates the src.base class files of the game"

stages:
  - build
  - test

build-code-job-1:
  stage: build
  script:
    - echo "Auto-building base..."
    - javac src/base/*.*

build-code-job-2:
  stage: build
  script:
    - echo "Auto-building all..."
    - javac -cp ${JUNIT_DIR} -cp src/base src/tests/*.*

##test-code-job-1:
##  stage: test
##  script:
##    - echo "Auto-running test-job-1..."
##    - java -cp ${JUNIT_DIR} -cp ${SRC_DIR} src/tests/EnemyUnitTests